doctype 5
html
  head
    title= 'Angular JS Demo'
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet' href='stylesheets/style.css')
    link(rel='stylesheet' href='stylesheets/slider.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-sanitize.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular-resource.min.js')
    script(src='lib/bootstrap-slider.js')
    script(src='javascripts/app.js')
    script(src='javascripts/controllers.js')
    script(src='javascripts/filters.js')
    script(src='javascripts/services.js')
    script(src='javascripts/directives.js')
  body
    block content
